<!-- LOGO -->
<div class="row">
	<div class="col-md-12">
		<img ng-click="process()" ng-src="images/logo.png" class="img-responsive"/>
	</div>
</div>

<br style="clear:both;"/>

<!-- DECLARATION -->
<div class="jumbotron">

	<!-- declaration -->
	<p>
		RaiBlocks is designed to be a <strong>secure</strong>, <strong>scalable</strong>, and <strong>extendable</strong> distributed ledger platform.
	</p>

	<p>
		We've applied the philosophy of "Do one thing and do it well", giving you performance and scalability unmatched by any other platform.
	</p>

	<br style="clear:both;"/>

	<!-- get started button -->
	<p>
		<a class="btn btn-block btn-success" href="/#/start" role="button">Get Started</a>
	</p>
</div>

<!--
<div class="row marketing">
	<div class="col-lg-6">
		<h4>Subheading</h4>
		<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

		<h4>Subheading</h4>
		<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

		<h4>Subheading</h4>
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	</div>

	<div class="col-lg-6">
		<h4>Subheading</h4>
		<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

		<h4>Subheading</h4>
		<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

		<h4>Subheading</h4>
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	</div>
</div>
-->