<div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-4 col-md-5 col-md-offset-4 col-lg-5 col-lg-offset-4">

	<h1>Get the wallet</h1>

	<table id="start">
		<tbody>
			<tr>
				<td>
					<i class="fa fa-apple fa-3x"></i>
				</td>
				<td>
					<a target="_blank" href="https://github.com/clemahieu/raiblocks/releases/download/V7.1.1/rai-7.1.1-Darwin.dmg">
						Mac (rai-7.1.1-Darwin.dmg)
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<i class="fa fa-windows fa-3x"></i>
				</td>
				<td>
					<a target="_blank" href="https://github.com/clemahieu/raiblocks/releases/download/V7.1.1/rai-7.1.1-win64.zip">
						Windows (rai-7.1.1-win64.zip)
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<i class="fa fa-linux fa-3x"></i>
				</td>
				<td>
					<a target="_blank" href="https://github.com/clemahieu/raiblocks/releases/download/V7.1.1/rai-7.1.1-Linux.tar.bz2">
						Linux (rai-7.1.1-Linux.tar.bz2)
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<br style="clear:both;"/>

	<strong>Have a wallet?</strong>
	<a class="btn btn-block btn-success" href="/#/faucet" role="button">Get Blocks</a>

</div>